.card-img-top {
  width: 100%;
  display: block;
  object-fit: cover
}

.feed:not(.grid) .row {
  display: block !important
}

.feed:not(.grid) .row>* {
  width: 100%;
  max-width: 640px;
  margin: 0 auto 1.25rem
}

.feed:not(.grid) .row>* .card-img-top {
  height: 360px
}

.feed:not(.grid) .row>*:nth-of-type(n+4) {
  display: none
}

.feed.grid .row>* {
  margin: 0
}

.feed.grid .row>* .card-img-top {
  height: 320px
}

.feed.grid .row>*:nth-of-type(n+10) {
  display: none
}